<%= turbo_stream_from dom_id(@domain) %>
<h1 class="font-bold text-4xl">Uptime for <%= @domain.name %></h1>
<table class="mt-5 min-w-full table-auto border-collapse">
  <thead>
    <tr class="bg-gray-200">
      <th class="px-4 py-2 text-left text-gray-600">Domain</th>
      <th class="px-4 py-2 text-left text-gray-600">Sent at</th>
      <th class="px-4 py-2 text-left text-gray-600">Response time (ms)</th>
      <th class="px-4 py-2 text-left text-gray-600">Status</th>
    </tr>
  </thead>
  <tbody id="pings">
    <tr>
      <td colspan="2" class="border-b">
        <% unless @domain.monitoring %>
          <%= button_to "Ping", domain_pings_path(@domain), data: { turbo: true }, class: "bg-sky-500 text-white p-2 m-2 rounded" %>
        <% end %>
      </td>
      <td colspan="2" align="right">
        <% if !@domain.monitoring %>
          <%= button_to "Monitor",
                        domain_path(@domain),
                        method: :patch,
                        params: { domain: { monitoring: true } },
                        class: "bg-sky-500 text-white p-2 m-2 rounded" %>
        <% else %>
          <%= button_to "Stop Minoring",
                        domain_path(@domain),
                        method: :patch,
                        params: { domain: { monitoring: false } },
                        class: "bg-sky-500 text-white p-2 m-2 rounded" %>
        <% end %>
      </td>
    </tr>
    <% if @domain.pings.present? %>
      <% @domain.pings.each do |ping| %>
        <%= render partial: "pings/ping", locals: { domain: @domain, ping: ping } %>
      <% end %>
    <% end %>
  </tbody>
</table>