<%= turbo_stream_from dom_id(@domain) %>
<h1 class="font-bold text-4xl">Uptime for <%= @domain.name %></h1>
<div>
  <%= turbo_frame_tag "monitoring-button" do %>
    <%= render "buttons" %>
  <% end %>
</div>
<table class="mt-5 min-w-full table-auto border-collapse">
  <thead>
    <tr class="bg-gray-200">
      <th class="px-4 py-2 text-left text-gray-600">Domain</th>
      <th class="px-4 py-2 text-left text-gray-600">Sent at</th>
      <th class="px-4 py-2 text-left text-gray-600">Response time (ms)</th>
      <th class="px-4 py-2 text-left text-gray-600">Status</th>
    </tr>
  </thead>
  <tbody id="pings">
    <% if @domain.pings.present? %>
      <% @domain.pings.each do |ping| %>
        <%= render partial: "pings/ping", locals: { domain: @domain, ping: ping } %>
      <% end %>
    <% end %>
  </tbody>
</table>